body {
    color: #fff;
    background-color: #1d3557;
    font-family: 'Open Sans', sans-serif;
}

.header {
    padding: 10px;
    text-align: center;
    background-color: #1d3557;
    font-size: 22px;
}

h1 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 50px;
}


.arrowHeader {
    color: #e63946;
}


hr {
    width: 80%;
    height: 12px;
    margin-left: auto;
    margin-right: auto;
}

#landingPage {
    height: 100vh;
    width: 100vw;
    /* background-color: bisque; */
    background: rgb(29,53,87);
    background: linear-gradient(122deg, rgba(29,53,87,1) 0%, rgba(230,57,70,0.47942927170868344) 50%, rgba(29,53,87,0.9612219887955182) 95%);
}

#landPageText {
    font-size: 3.75em;
    margin-top: -30vh;
}

.arrowIcon {
    font-size: 3em;
    color: cornflowerblue;
}

.arrowIcon:hover {
    color: rgb(155, 181, 229);
}

#mainArea {
    height: 100vh;
    width: 100vw;
}

/* background-color set to be slightly transparent */

.main {
    height: 75vh;
    width: 60vw;
    border-radius: 15px;
    background-color: rgba(69, 123, 157, 0.7);
   
}

#petvice {
    font-size: 50px;
    margin-top: 30vh;
    font-family: 'Gloria Hallelujah', cursive;
    
}

/* set width/height on img container so that image will stay contained in it's div */

#petImage { 
    width: 375px;
    height: 375px;
}

/* This helps the generated img to stay in it's container */

img {
    width: 100%;
    height:100%;
    object-fit:contain;

}


/* button to generate random images */

#generate-stuff {
    background-color: #e63946;
    /* border: solid #e63946; */
    color: white;
    font-family: 'Gloria Hallelujah', cursive;   
    margin-bottom: 65px;
}

#generate-stuff:hover {
    background-color: #e45460;
    box-shadow: -3px 3px 3px #e45460;
    color: white;
}

/* footer is set to be fixed to the bottom of the page */

.footer {
    bottom: 0%;
    position: fixed;
    width: 100%;
    text-align: center;
    font-weight: bold;
    background-color: #1d3557;
    padding-top: 12px;
    padding-bottom: 12px;
}

h1 {
    font-weight: bold;
}


/* Code for the thought bubble */

.thought {
    color: #1d3557;
    display:flex;
    background-color:#A8DADC;
    padding:20px;
    border-radius:30px;
    min-width:40px;
    max-width:280px;
   /*  min-height:40px; */
    margin:0px; /* initially 20px */
    position:relative;
    align-items:center;
    justify-content:center;
    text-align:center;
    
  
}

.thought:before,
.thought:after {
    content:"";
    background-color:#A8DADC;
    border-radius:50%;
    display:block;
    position:absolute;
    z-index:-1;
}

.thought:before {
    width:44px;
    height:54px;
    top:-12px;
    left:28px;
    box-shadow:-50px 30px 0 -12px #A8DADC;
}

.thought:after {
    bottom:-10px;
    right:26px;
    width:30px;
    height:30px;
    box-shadow:40px -34px 0 0 #A8DADC,
        -28px -6px 0 -2px #A8DADC,
        -24px 17px 0 -6px #A8DADC,
        -5px 25px 0 -10px #A8DADC; 
}


/* Testing out anime.js */

/* .square {
    height: 25px;
    width: 25px;
    background-color: rgb(218, 32, 203);
} */