body {
    color: #fff;
    background-color: #1d3557;
}

.header {
    padding: 10px;
    text-align: center;
    background-color: #1d3557;
}

hr {
    width: 80%;
    height: 12px;
    margin-left: auto;
    margin-right: auto;
}

/* background-color set to be slightly transparent */

.main {
    /* position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    height: 80vh;
    width: 650px;
    border-radius: 15px;
    background-color: rgba(69, 123, 157, 0.7);
   /*  overflow: hidden; */
}

/* created a flex box for the main to have it easily displayed at center of page */

.flex-container {
    display: flex; 
    justify-content: center;
    align-content: center;
    margin: 15px;
}


/* set width/height on img container so that image will stay contained in it's div */

#petImage { 
    /* border: solid 3px yellowgreen; (added for better visibility; not needed) */
    width: 400px;
    height: 400px;
}

#petImage img {
    width: 100%;
    height:100%;
    object-fit:contain;
}

#generate-stuff {
    background-color: #e63946;
    border: solid #e63946;
}

/* footer is set to be fixed to the bottom of the page */

.footer {
    bottom: 0%;
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: #1d3557;
}

h1 {
    font-weight: bold;
}


/* Code for the thought bubble */

.thought {
    color: #1d3557;
    display:flex;
    background-color:#A8DADC;
    padding:20px;
    border-radius:30px;
    min-width:40px;
    max-width:220px;
    min-height:40px;
    margin:20px;
    position:relative;
    align-items:center;
    justify-content:center;
    text-align:center;
}

.thought:before,
.thought:after {
    content:"";
    background-color:#A8DADC;
    border-radius:50%;
    display:block;
    position:absolute;
    z-index:-1;
}

.thought:before {
    width:44px;
    height:44px;
    top:-12px;
    left:28px;
    box-shadow:-50px 30px 0 -12px #A8DADC;
}

.thought:after {
    bottom:-10px;
    right:26px;
    width:30px;
    height:30px;
    box-shadow:40px -34px 0 0 #A8DADC,
        -28px -6px 0 -2px #A8DADC,
        -24px 17px 0 -6px #A8DADC,
        -5px 25px 0 -10px #A8DADC; 
}


/* Testing out anime.js */

/* .square {
    height: 25px;
    width: 25px;
    background-color: rgb(218, 32, 203);
} */